// Mixins in here

.button(@color) {
  background-color: @color;
  width: 20rem;
  height: 4.5rem;
  padding-top: 1.25rem;
  border-radius: 1.65rem;
  font-size: 1.85rem;
  justify-content: center;
  text-align: center;
  color: @white;
}