nav {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 2px dashed @navigation-border;
  

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 325px;    
  }
}

header {

  hr {
    border: 0;
    border-bottom: 2px dashed @navigation-border;
    margin-top: 25px;
    
  }

  .info-header {
    padding-bottom: 10px;
    border-bottom: 2px dashed @navigation-border;
    img {
      margin-bottom: 20px;
    }
  }
}